
body{
    margin: auto;
    background: radial-gradient(#333333,#070707);
    background-repeat: no-repeat;
    // height: 100%;
    font-size: 60.25;
    display: flex;
    flex-direction: column;
}
.nav-container{
    // background-color: #070707;   
    justify-content: space-between;
    color: white;
    display: flex;
    flex: 1;
}

ul{
    list-style: none;
    display: flex;
    flex: 1;
    font-family: '`Montserrat', sans-serif;
    justify-content: space-between;
    flex-direction: row;
}
li{
    display: flex;
    flex: 1;
    padding-top: 8px;
    padding-left: 2rem;
    padding-right: 0;
    padding-bottom: 0;
    text-align: center;
    margin-right: 5px;
    b{
        padding-top: 8px;
    }
}
.product-name{
    display: flex;
    flex:12 !important;
    font-size: 32px;
    b{
        background-color: red;
        padding: 10px 10px 10px 10px;
        border-radius: 50%;
        font-family: 'Lobster', cursive;
        // font-size: 1 rem;
    }
}
.img-container{
    width: 100%;
    display: flex;
    flex: 1;
    color: white;
    // width: fit-content;
    height: fit-content;
    // justify-content: space-between;
    text-align: center;
    flex-direction: row;
    font-family :'Montserrat', sans-serif;
    div{
        display: flex;
        flex: 1;
    }
    h1{
        display: flex;
        flex: 3;
    }
    img{
        display: flex;
        flex: 6;
        object-fit: cover;
    }
    .product-description{
        flex: 4;
        text-align: start;
        flex-direction: column;
        div{
            flex: 2;
        }
        h3{
            flex: 1;
            font-size: 32px;
        }
    }
}
.order-link{
    b{
    background-color: red;
    border-radius: 0.5rem;
    height: 50%;
    padding: 8px 13px 0px 11px;
    }
}